*,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/* html {
    font-size: 62.5%;
} */

body {
    padding: 0.5rem;
    /* line-height: 1.7; */
    font-size: 62.5%;
    box-sizing: border-box;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-big {
    margin-bottom: 6rem;
}

.u-margin-top-big {
    margin-top: 6rem;
}

.u-margin-top-small {
    margin-top: 2rem;
}

.u-margin-top-medium {
    margin-top: 4rem;
}

/*------------------------ HEADER -------------------------*/
.header {
    height: 75vh;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
}

.header__container {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header__container a {
    text-decoration: none;
}

.nav-bar {
    animation: moveBottom 1.5s;
    backface-visibility: hidden;
}

@keyframes moveBottom {
    0% {
        opacity: 0;
        transform: translateX(0) translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes noRo {
    0% {
        opacity: 0;
        transform: translateX(4rem) translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
}

.nav-bar ul li:not(:last-child) {
    margin-right: 4rem;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #777;
    font-size: 1.3rem;
    padding: 0.2rem 0;
    font-weight: 700;

    transition: all 0.5s;
    backface-visibility: hidden;
}

.nav-bar ul li a:hover {
    color: white;
    border-bottom: 1px solid white;
}

.header__logo {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: noRo 1.5s ease-out;
    backface-visibility: hidden;
}

.button {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.button--white {
    background-color: rgba(255, 255, 255, 0.699);
    color: black;
    transition: all 0.3s;
}

.button--blue {
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
    transition: all 0.3s;
}

.button--blues {
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
    transition: all 0.3s;
}

.button--blues:hover {
    text-decoration: none;
    background: 0 0; /*Trong suot*/
    border: 1px solid rgba(0, 0, 255, 0.9);
    transform: translateY(-0.3rem);
    color: black;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.11);
}

.button--blue:hover {
    text-decoration: none;
    background: 0 0;
    border: 1px solid rgba(0, 0, 255, 0.9);
    transform: translateY(-0.8rem);
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.11);
}

.button--blue:active {
    transform: translateY(-0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.11);
}

.button--white:hover {
    transform: translateY(-0.8rem);
    background-color: white;
    color: black;
    text-decoration: none;
}

.button--white:active {
    transform: translateY(-0.4rem);
}

.button--news {
    background-color: rgba(255, 255, 255, 0.699);
    color: black;
    transition: all 0.3s;
}

.button--news:hover {
    transform: translateY(-0.8rem);
    /* color: black; */
    border: 1px solid rgba(0, 0, 255, 0.5);
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.button--news:active {
    transform: translateY(-0.4rem);
}

.butn::after {
    content: '';
    height: 100%;
    width: 100%;
}

.form-inline input:focus {
    outline: none !important;
    box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
    border: 1px solid #7ed56fcc;
}

/*---------------- MAIN -------------------*/
main {
    margin-top: 2rem;
}

.flex-box {
    display: flex;
}

.logo-brand {
    padding-top: 15px;
}

.form-inline {
    position: relative;
    width: 60%;
    margin-left: 10rem;
    margin-right: 50px;
}

.form-inline input[type="text"] {
    padding: 25px;
}

.form-inline i {
    position: absolute;
    right: 10px;
}

.login-register-container {
    display: flex;
    padding: 10px 0;
}

.login-register-container a {
    font-size: 1.2rem;
    padding: 0 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}


.login-register-container img {
    width: 80%;
    /* height: 60%; */
}

.login-register-container a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

/*------------------- CARD-CONTAINER -------------------*/
.heading-primary {
    margin-top: 2rem;
    font-size: 3.5rem;
    /* display: inline-block; */
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.5s;
}

.heading-primary:hover {
    text-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.199);
    transform: skewY(-3deg);
}

.heading-secondary {
    padding: 0 6rem;
}

.heading-secondary>span {
    font-weight: 300;
    color: #777;
}

.heading-secondary>h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.heading-secondary>h2>span {
    border-bottom: 3px solid rgba(0, 0, 255, 0.6);
}

.col-lg-4 {
    padding-left: 2.5px !important;
    padding-right: 2.5px !important;
    border-radius: 0;
}

/* Welcome Part */
.welcome .card {
    border-radius: 0 !important;
    position: relative;
}

.welcome .card img {
    transition: all .5s;
}

.welcome .card:hover img {
    filter: blur(2px);
}

.welcome .card:hover .hero-carousel__slideOverlay {
    transform: translateY(-1rem);
    opacity: 1;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.welcome .hero-carousel__slideOverlay {
    position: absolute;
    bottom: 50px;
    background-color: rgba(0, 0, 255, 0.8);
    padding: 2.3rem 4.5rem 2rem 6rem;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.welcome .hero-carousel__slideOverlay h3 {
    font-size: 1.5rem;
    font-weight: 200;
}

/* Trending Part */
.container-full .trending {
    padding: 0 6rem;
}

.trending .card {
    position: relative;
    border: none !important;

}

.trending .card .card-product__imgOverlay {
    list-style: none;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.trending .card:hover .card-product__imgOverlay {
    transform: translate(-50%, 30%);
    opacity: 1;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
}

.card-product__imgOverlay li {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 0.2rem;
    background-color: rgba(0, 0, 255, 0.5);
}

.trending .card-body {
    padding: 0 1.5rem !important;
    margin-top: 1rem;
    border: none !important;
}

.trending .card-body p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(119, 119, 119, 1);
}

.trending .card-title {
    font-family: oswald;
    font-weight: 400;
    font-size: 1.6rem;
    transition: color .5s;
}

.trending .card-text {
    margin-top: 1.3rem;
    font-size: 1.3rem !important;
    font-weight: 500 !important;
}

.trending .card:hover .card-title {
    color: rgba(0, 0, 255, 0.9);
}

/*----------------- COVER ------------------  */
.cover {
    padding: 8rem 0;
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
    filter: grayscale(1);
}

.cover__text-box {
    text-align: center;
}

.cover__text-box h1 {
    font-size: 3rem;
}

.cover__text-1 {
    font-family: oswald;
    font-size: 2.5rem;
    font-weight: 100;
}

/* Latest News */
.container-full .news {
    padding: 0 6rem;
}

.news .card {
    border: none;
}

.news .card-body__info {
    list-style: none;
}

.news .card-body__info li {
    display: inline-block;
}

.news .card-body__info li:not(:last-child) {
    margin-right: 2rem;
}

.news a {
    color: #777;
    font-weight: 200;
    font-size: 0.8rem;
    padding: 1rem 0;
}

.news h4 {
    font-family: "Oswald";
    font-size: 1.3rem;
    font-weight: 600;
    transition: color 0.5s;
}

.news .card:hover h4 {
    color: rgba(0, 0, 255, 0.9);
}

.news p {
    color: rgba(119, 119, 119, 0.8);
    font-size: 0.9rem;
    font-weight: 500;
}

/* ALMOST DONE */
.section-almost {
    margin: 2rem;
    padding: 7rem 0;
    font-family: "Roboto";
    /* background-image: linear-gradient(to right bottom, #2998ff, #5643fa); */
    background-color: white;
    box-shadow: 2rem 0 2rem rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

.section-almost .container {
    /* max-width: 1040px;
    max-height: 400px; */
    padding: 0;
    text-align: center;
}

.submit-form {
    padding: 0.9rem 2rem;
    margin-right: 2rem;
}

.section-almost .text-box {
    /* position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%); */
}

.section-almost .text-box h4 {
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
}

/* FINISH */
.section-finished {
    padding: 10rem 0 6rem 0;
    margin-top: -6rem;
    background-color: #003366;
    color: rgb(255, 255, 255);

    z-index: 1;
    transform: translateY(-3rem);
}

.section-finished::after {
    content: "";
    display: table;
    clear: both;
}

.section-finished .cot {
    float: left;
    padding: 0 2rem;
}

.section-finished .cot:not(:last-child) {
    margin-right: 2rem;
}

.section-finished .cot ul {
    list-style: none;
}

.section-finished .cot a {
    /* text-decoration: none; */
    color: white;
}

.heading-tertiary {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.newsletter-form {
    padding: 0.9rem 2rem;
    margin-right: 2rem;
}