*,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    padding: 0.5rem;
    font-size: 62.5%;
    box-sizing: border-box;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-big {
    margin-bottom: 6rem;
}

.u-margin-top-big {
    margin-top: 6rem;
}

/* HEADER */
.header {
    height: 75vh;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
}

.header__container {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header__container a {
    text-decoration: none;
}

.nav-bar {
    animation: moveBottom 1.5s;
    backface-visibility: hidden;
}

@keyframes moveBottom {
    0% {
        opacity: 0;
        transform: translateX(0) translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes noRo {
    0% {
        opacity: 0;
        transform: translateX(4rem) translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
}

.nav-bar ul li:not(:last-child) {
    margin-right: 4rem;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #777;
    font-size: 1.3rem;
    padding: 0.2rem 0;
    font-weight: 700;

    transition: all 0.5s;
    backface-visibility: hidden;
}

.nav-bar ul li a:hover {
    color: white;
    border-bottom: 1px solid white;
}

.header__logo {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: noRo 1.5s ease-out;
    backface-visibility: hidden;
}

.butn {
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.699);
    color: black;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.butn:hover {
    transform: translateY(-0.8rem);
    background-color: white;
    color: black;
    text-decoration: none;
}

.butn:active {
    transform: translateY(-0.4rem);
}

.butn::after {
    content: '';
    height: 100%;
    width: 100%;
}

/* MAIN */
main {
    margin-top: 2rem;
}

.flex-box {
    display: flex;
}

.logo-brand {
    padding-top: 15px;
}

.form-inline {
    position: relative;
    width: 60%;
    margin-left: 10rem;
    margin-right: 50px;
}

.form-inline input[type="text"] {
    padding: 25px;
}

.form-inline i {
    position: absolute;
    right: 10px;
}

.login-register-container {
    display: flex;
    padding: 10px 0;
}

/* .login-register-container p {
    padding: 0 1.5rem;
    color: rgba(0, 0, 0, 0.7);
} */

.login-register-container a {
    font-size: 1.2rem;
    padding: 0 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}


.login-register-container img {
    width: 80%;
    /* height: 60%; */
}

.login-register-container a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

/* CARD-CONTAINER */
.heading-primary {
    margin-top: 2rem;
    font-size: 3.5rem;
    /* display: inline-block; */
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.5s;
}

.heading-primary:hover {
    text-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.199);
    transform: skewY(-3deg);
}
.heading-secondary {
    padding: 0 6rem;
}
.heading-secondary>span {
    font-weight: 300;
    color: #777;
}
.heading-secondary>h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
.heading-secondary>h2>span {
    border-bottom: 3px solid rgba(0, 0, 255, 0.6);
}

.col-lg-4 {
    padding-left: 2.5px!important;
    padding-right: 2.5px!important;
    border-radius: 0;
}

.card {
    border-radius: 0!important;
    position: relative;
}

.card img {
    transition: all .5s;
}
.card:hover img{
    filter: blur(2px);
}

.card:hover .hero-carousel__slideOverlay {
    transform: translateY(-1rem);
    opacity: 1;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.hero-carousel__slideOverlay {
    position: absolute;
    bottom: 50px;
    background-color:  rgba(0, 0, 255, 0.8);
    padding: 2.3rem 4.5rem 2rem 6rem;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.hero-carousel__slideOverlay h3{
    font-size: 1.5rem;
    font-weight: 200;
}